* {
    padding:0;
    margin:0;
    box-sizing:0;
    text-align: center;
}

/*--------------- HEADER ---------------*/

header {
    background-color: black;
    padding-top: 35px;
    padding-bottom: 35px;
}

.titulo {
    color: chartreuse;
    text-align: center;
}

/* side bar */
.sideBarBtn {
    margin-right: 5px;
    background-color: chartreuse;
}

.offcanvas-header {
align-items: inherit !important;
}
.offcanvas {
    overflow: scroll;
}

/* carrito */

.carritoButtom {
    border-radius: 5px;
    border-color: black;
}

.carritoImg {
    background-color: chartreuse;
}

.carritoCuerpo {
    background-color:dimgray;
    color: black;
    /*display: none;*/
}

.productoEnCarrito {
    display: flex;
    gap: 1rem;
    margin-top: 5px;
    margin-bottom: 5px

}
.carritoHtml{
 width: 100%;
}

.btn-close {
    position: relative;
    top:  10px;
}

.boton-eliminar {
    background-color: chartreuse;
    border-radius: 5px;
    padding: 10px;
}
.vaciar-carrito {
    margin-bottom: 5px;
    background-color: chartreuse;
    color: black;
    border-radius: 5px;
}

/* buscador */
.buscar-btn {
background-color: chartreuse;
color: black;
}

/*--------------- MAIN ---------------*/
main {
    background-color: black;
}

#bebidas {    
    display: flex;
    justify-content: space-around;
}

.margen {
    margin-bottom: 50px;
}

.carritoYWishBtn {
    background-color: chartreuse;
    margin: 3px;
    color: black;
    border-color: black;
}

.tituloMain {
    color: chartreuse;
    padding-top: 35px;
    padding-bottom: 35px;
}

/*--------------- FOOTER ---------------*/

.footer {
    background-color: chartreuse;
}

.redesSociales {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.linkedinImg{
max-width: 350px;
}

.githubImg{
max-width: 200px;
margin-bottom: 5px;
}
